@import '../../../App.scss';

.Home {
  @include Section;

  .News {
    width: 60rem;
    display: flex;
    justify-content: space-between;

    .Side {
      width: 25rem;
      border-radius: 1rem;
      border: solid grey 0.05rem;

      h2 {
        font-size: 1.4rem;
        text-align: center;
      }

      p {
        font-size: 0.9rem;
        text-align: center;
      }
    }
  }
}
