.JournalEntry {
  margin: auto;
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .SuccessModal {
    position: fixed;
    margin-top: 10vh;
    top: 0;
    left: 50;
    width: 24rem;
    height: 8rem;
    background-color: rgb(16, 192, 0);
    color: black;
    border: solid 0.3rem rgb(229, 255, 81);
    border-radius: 0.3rem;
    font-size: 3.5rem;
    transform: rotate(-4deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .TitleBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;

    .Input {
      text-align: center;
      width: 30rem;
      height: 5rem;
      font-size: 3rem;
      border: solid 0.1rem grey;
      border-radius: .1rem;
      &:hover {
        border: solid 0.2rem rgb(255, 123, 0);
      }
      &:focus {
        outline: none;
        border: solid 0.2rem rgb(255, 123, 0);
      }
    }
  }


  .ButtonsFrame {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;

    .Label {
      margin-right: 1.5rem;
    }

    .ImgInput {
      display: none;
    }
    .Btn {
      width: 3rem;
      height: 2rem;
      background-color: orange;
    }
  }

  .EditPictures {
    grid-area: 3 / 1 / 4 / 2;
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .PictureFrame {
      border: solid 0.1rem rgb(194, 194, 88);
      width: 100%;
      height: 8rem;
      border-radius: 0.4rem;
      outline: none;
      overflow: hidden;
      object-fit: fill;
    }
  }

  textarea {
    grid-area: 3 / 2 / 4 / 3;
    padding: 1rem;
    display: flex;
    min-height: 30rem;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
    border-radius: .2rem;
    border: solid 0.1rem grey;

    &:hover {
      border: solid 0.2rem rgb(255, 123, 0);
    }

    &:focus {
      border: solid 0.2rem rgb(255, 123, 0);
    }
  }
}

