@import "../../../Vars.scss";

.Schedule {
  margin:  0;
  padding: .4rem;
  width: 100%;
  height: calc(100vh - 3.75rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 1rem 0;
  }

  .Dates {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .1rem;

    .Day {
      width: 100%;
      height: 100%;
      padding: 0.2rem;
      border: solid 1px white;
      border-radius: 0.2rem;
      display: flex;
      flex-direction: column;
      overflow: auto;

      button {
        cursor: pointer;
      }

      .Header {
        display: flex;

        .Red {
          color: rgb(255, 68, 68);
        }

        .Date {
          margin: 0.3rem 0.3rem;
        }

        .Create {
          margin: -0.1rem 0 0 0.3rem;
          color: green;
          font-size: 1.6rem;
        }
      }

      .Item {
        display: flex;
        font-size: 1rem;
        padding-left: 0rem;
        border-top: solid grey 0.1rem;

        .Delete {
          align-self: start;
          margin: 0 0.3rem;
          color: red;
          font-size: 1.4rem;
        }

        .Update {
          align-self: start;
          margin: -0.4rem 0.6rem 0 0.3rem;
          color: yellow;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .Schedule {
    height: auto;

    .Dates {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      
      .Day {
        height: 15rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .Schedule {
    height: auto;

    .Dates {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      
      .Day {
        height: 15rem;
      }
    }
  }
}
