@import "../../../Vars.scss";

.Weather {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .Title {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  td {
    text-align: center;
  }

  .Nav {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    background-color: rgb(43, 43, 43);
    padding: .7rem;
    border-radius: .5rem;

    .Btn {
      height: 2.4rem;
      margin: 0.4rem;
    }
  }
}

.Current {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: solid;
  border-radius: 2px;
  border-color: grey;

  .Date {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  .Temp {
    width: 77%;
    height: 75px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .Val {
      font-size: 34px;
    }

    .Left {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
    }

    .Right {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
    }
  }

  .Info {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .InfoTop {
      height: 42px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
    }

    .InfoBottom {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.Minutely {
  height: 23rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 800px) {
    width: 100%;
    margin: 0;
  }
  @media (max-width: 600px) {
  }
}

.EightDay {
  max-width: 49rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .Day {
    margin: 0.8rem;
    background-color: rgb(40, 26, 26);
    width: 9.8rem;
    border: 0.1rem solid rgba(130, 130, 130, .2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .TempLine {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0.1rem .3rem;

      .Time {
      }

      .Temp {
      }
    }
  }
}

.daily-table {
  width: 1300px;
  border-color: rgba(130, 130, 130, 0.2);
  margin: auto;
  margin-top: 20px;
  background-color: rgb(40, 26, 26);
  padding: 12px;
  border-radius: .3rem;

 .header {
  margin-bottom: 10px;
 }

 @media (max-width: 1300px) {
    width: 1000px; 
 };
 @media (max-width: 1000px) {
    width: 600px; 
 };
 @media (max-width: 600px) {
    width: 400px; 
 };
}
