@mixin btn() {
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(185, 126, 67);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 7rem;
  padding: 0 .6rem;
  white-space: nowrap;

  &:hover {
    font-size: 1.05rem;
    border: solid 0.1rem rgb(52, 225, 255);
  }
}

.Btn {
  @include btn;
}
