@import "../../../Vars.scss";
$navColorTop: rgb(15, 20, 26);
$navColorBottom: rgb(28, 38, 50);

.Navbar {
  width: 100%;
  display: flex;
  background-color: $navColorTop;
  min-height: 3.75rem;
  justify-content: center;
  align-items: center;

  .Btn {
    margin: 0 1rem;

    @media (max-width: 1000px) {
      margin: 0.3rem 0.3rem;
      width: 6rem;
    }
  }
}

@media (max-width: 1000px) {
  .Navbar {
    width: 98%;
    flex-wrap: wrap;
    min-height: 3.75rem;
    padding: 0.3rem 0;
  }
}
