@import '../../../App.scss';
$navColorTop: rgb(15, 20, 26);
$navColorBottom: rgb(28, 38, 50);

.Navbar {
  width: 100%;
  display: flex;
  background-color: $navColorTop;
  height: 3.75rem;
  justify-content: center;
  align-items: center;

  .Btn {
    margin: 0 1rem;
  }
}

@media (max-width: 1000px) {
  .Navbar {
    width: 98%;
  }
}
