@import "../../../Vars.scss";

.Navbar {
  width: 100%;
  display: flex;
  background-color: rgb(56, 0, 24);
  min-height: 3.75rem;
  justify-content: center;
  align-items: center;
  position: absolute;

  .Btn {
    margin: 0 .8rem;

    @media (max-width: 600px) {
      margin: 0.3rem 0.3rem;
    }
  }
}

@media (max-width: 1000px) {
  .Navbar {
    width: 98%;
    flex-wrap: wrap;
    min-height: 3.75rem;
    padding: 0.3rem 0;
  }
}
